.paginator.centered.sub
  - unless browser.device.mobile?
    .left-align
      Total:
      %span.reply-count=paginated.total_count
    .right-align
      - if paginated.klass == Reply && !local_assigns[:no_per]
        Posts Per Page:
        = select_tag :per_page, per_page_options, class: 'per-page'
  .pagination
    - if paginated.total_count > paginated.limit_value
      = paginate paginated, mobile_view: browser.device.mobile?, params: @paginate_params || {}
  .clear
